@import "../../styles/variables";
.auth_modal {
  .auth_sec {
    @media only screen and (max-width: 992px) {
      display: block !important;
    }
  }
  .auth_form {
    border-right: 1px solid #ddd;
    padding: 0 10px;
    flex: 1;
    @media only screen and (max-width: 992px) {
      border: 0;
    }
  }
  .auth_other {
    flex: 1;
    padding: 0 10px;
  }
  .modal-header {
    border: 0;
    text-align: center;
    padding: 10px;
  }
  .modal-body {
    padding: 10px 10px;
  }
  .modal-content {
    border-radius: 20px;
    padding: 10px;
  }
  .title {
    color: $primary-color;
    font-size: 28px;
    text-align: center;
    // margin-bottom: 20px;
    font-weight: bold;
    @media only screen and (max-width: 786px) {
      font-size: 18px;
    }
  }
  .SubTitle,
  .form-check-label,
  .formText {
    font-size: 14px;
    color: $primary-color;
    text-align: center;
    margin-bottom: 10px;
  }
  strong {
    font-weight: bold !important;
  }
  .form-check-label {
    text-align: left !important;
  }
  .form-check-input {
    border-radius: 2px;
  }
  .form-floating {
    background-color: white;
    border: 1px solid #707070;
    border-radius: 8px;
    //margin-top: 10px;
    height: 45px;
    padding: 0;
    &:focus,
    &:active {
      outline: 0;
      border: 1px solid #707070;
    }
    .formInput {
      height: 40px;
      min-height: 40px;
      color: $primary-color;
      border: 0;
      border-radius: 8px;
      font-size: 14px;
      font-weight: lighter;
      &:focus,
      &:active {
        outline: 0;
        border: 0;
        background-color: white !important;
        box-shadow: unset !important;
      }
    }
    label {
      font-size: 14px;
      color: #cdcdcd;
      padding: 10px;
      @media only screen and (max-width: 786px) {
        padding: 5px;
      }
    }
  }
  .frmBtn {
    border-radius: 34px;
    margin-bottom: 20px;
  }
  .gmail_icon {
    margin: 0 3px;
    width: 25px;
    height: 25px;
    vertical-align: sub;
  }
  .form_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @media only screen and (max-width: 786px) {
      display: block !important;
      text-align: center;
    }
  }
  .form_option {
    font-size: 12px;
    color: #797979;
    line-height: 35px;
    .form_option_btn {
      color: $primary-color !important;
      padding: 0 5px;
      background-color: transparent;
      border: 0;
      &:hover,
      &:focus {
        background-color: transparent;
        border: 0;
        outline: 0;
      }
    }
    @media only screen and (max-width: 1200px) {
      font-size: 15px;
    }
    // @media only screen and (max-width: 992px) {
    //   font-size: 20px;
    // }
  }
  .errorTxt {
    color: red !important;
  }
}
